.main-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.form-container {
  /* display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center; */
  max-width: 800px;
  width: 100%;
}

.main-form {
  /* border: solid 1px #193773; */
  border-radius: 20px;
  background: #cfcfcf;
  padding: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.logo img {
  height: 35px;
}

.title {
  text-align: center;
}

.title h1 {
  padding: 15px;
  font-weight: 500;
  color: #193773;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  row-gap: 1.5rem;
}

.labin {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  /* gap: 3rem; */
  align-items: center;
}

.labin label {
  color: #193773;
  font-weight: 600;
}
.labin input {
  width: 70%;
  padding: 1.1rem;
  /* background-color: #dbdbdb; */
  border-radius: 11px;
  border: none;
}

.sss p {
  padding: 1rem;
  font-weight: 600;
  color: #797878;
}

.cobrowse {
  border: solid 1px #193773;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 800;
  width: 90%;
  height: 50px;
  padding-left: 30px;
  background-color: #fff3cd;
}

.btn {
  padding: 0.7rem 2rem;
  background: rgb(0, 142, 224);
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(0, 142, 224);;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
  /* align-items: center; */
}
.btn2 {
  padding: 0.7rem 2rem;
  background: rgb(224, 82, 0);
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(224, 82, 0);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
}


.cobrowse-code-popup {
  background-color: #bdbdbd80;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  bottom: 0;
  box-shadow: 0 0 10px #0000001a;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.popup-container {
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  left: 50%;
  max-width: 210px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cobrowse-popup-header {
  align-items: center;
  background: #0c2139;
  color: #fff;
  display: flex;
  flex-flow: row;
  font-size: 0.8rem;
  justify-content: space-between;
  margin: 0;
  padding: 10px 15px;
}
.x-btn {
  height: 1rem;
  position: relative;
  width: 1rem;
  background-color: transparent;
  border: none;
}
.x-btn:after,
.x-btn:before {
  background-color: #fff;
  content: " ";
  height: 15px;
  position: absolute;
  width: 2px;
}
.x-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.x-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cobrowse-popup-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px !important;
}
.cobrowse-popup-info {
  color: #676767;
  font-size: 0.7rem;
  line-height: 1.3rem;
  margin-bottom: 0;
}
.cobrowse-popup-code {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 0;
  text-align: center;
  color: black;
}

@media screen and (max-width: 600px) {
  .main-container {
    justify-content: flex-start;
  }
  .form-container {
    max-width: 100%;

  }

  .main-form {
    padding: 1rem; 

  }

  .title {
    order: 2; 
  }

  .title h1 {
    padding: 10px; 
  }
  .labin {
    flex-direction: column; 
    align-items: center; 
  }

  .labin input {
    width: 100%;
    margin-top: 0.5rem; 
    display: block; 
  }

  
}



